
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


body{
    font-family: "Poiret One", cursive;
    overflow: hidden;
    background-color: rebeccapurple;
    color: white;
    font-weight: 800;
}

.container{


    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{

margin: auto;
width: fit-content;
padding: 10px;
border-radius: 2px;
color: white;
background-color: black;
}
.digitalClock h1{

    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}

@media(max-width:768px){
    #bar1, #bar2{
        display: none;
    }
    .digitalClock{
        text-align: center;
        width: 100%;

    }
    .digitalClock h1{
        display: block;

    }

}

@media(max-width:480px){
    .digitalClock h1{
       font-size: 4rem;

    }
}
