body{
    background-color:cadetblue;
}
.container{
    /* border: 2px solid rgb(140, 130, 130); */
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    border: 10px solid rgb(137, 227, 220);
    width: 900px;
    height: 450px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: black;
    background-color: azure;
}

.quote p, .quote h3{
    font-size: 1.5rem;
}
 @media(max-width:480px){
    .quote p, .quote h3{
        font-size: 1rem;
    }
 }